@{
  ViewBag.Title = "Home Page";
}


<h2 style="text-align:center;">ONSITE COMPUTER and PC REPAIRS</h2>
<br>
<br>


<div class="content">
  <div style="float:left; width:250px;">
    <ul>
      <li><strong>We provide services:</strong></li>
      <li>Computer, Laptop &#038; Server Repair </li>
      <li>Virus &#038; Spyware Removal </li>
      <li>Windows Errors Messages </li>
      <li>Data Backup &#038; Recovery </li>
      <li>Internet Connection Problems </li>
      <li>Email Problems </li>
      <li>Firewall Security </li>
      <li>Laptop Screen Replacement </li>
      <li>Laptop AC Jack Repair </li>
      <li>Server Sales and Setup </li>
      <li>Server Maintenance </li>
      <li>Voice Over IP (telephones) </li>
      <li>Email Server Sales &#038; Service </li>
      <li>Robust Firewall Solutions </li>
      <li>Network Cabling &#038; Management</li>
      <li>MANY OTHER SERVICES&#8230;</li>
    </ul>
  </div>
  <div style="float:left; width:330px">
    <img src=" @Url.Content("~/upload/ads.jpg") " alt=" images" />
  </div>
</div>

<br>
<br>

<div style="float:right; width:1000px">
  <div style="float:left; width:450px;">
    <p style="text-align: justify;">
      <strong>
        If you are experiencing computer
        problems, We can solve your problems quickly, professionally and do it at affordable
        rates. We provides solutions and services to both home users as well as businesses.
        Offering services for Desktops, Laptops, and Servers we can fix any problem you might have.
      </strong>
    </p>
    <br>
    <br>
    <hr>
  </div>
  <div style="float:right; width:400px">
    <p style="text-align:justify;">
      <strong>
        We provides
        a complete array of services for your Desktop, Laptop, or Server. Whether it is a So-
        ftware or Hardware problem, We can get your PC up and running again.  We can provide
        these services at our shop, onsite at your home or business, or viathe internet remotely.
      </strong>
    </p>
    <br>

    <hr>

  </div>
</div>